.authSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height:100vh;
    background:#001923;
}

.authSection::before{
    content: '';
    position: absolute;
    width: 350px;
    height:350px;
    background: linear-gradient(#c1ee1b,#115027);
    border-radius: 50%;
    transform:translate(-420px , -180px);
}

.authSection::after{
    content: '';
    position: absolute;
    width: 300px;
    height:300px;
    background: linear-gradient(#9fead5,#83d8ff);
    border-radius: 50%;
    transform:translate(400px , 180px);
}

.containerV{
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background:rgba(255, 255, 255, 0,1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius : 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
    
}
.containerV::before{
    content: '';
    position: absolute;
    top: 0;
    left:-40%;
    width: 100%;
    height: 100%;
    background:rgba(255, 255, 255, 0.05);
    pointer-events:none;
    transform:skewX(-15deg);
    

}

.containerV h2 {
    width : 100%;
    text-align:center;
    color:#fff;
    font-size:36px;
    margin-bottom:20px;
    
}

.FormBox{ 
    display: flex;
    flex-direction: column;
    align-items:center
}
.rowe{
    padding: 0 10px;
    margin : 20px 0;
    height:80px;
    width:80%;
    
}
.inputBox{
    height:100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content:left;
    align-items:center;
}

.inputBox p{
    width:50%;
    color:#fff;
    text-align: left;
}

.inputBox input{
    height: 60px;
    width:50%;
    background:#fff;
    box-shadow: none;
    outline: none;
    font-size:15px;
    padding: 10px;
    z-index: 1;
    color:#000;
    border: 1px;

}
.rowe button{
    width:50%;
    padding:10px 40px;
    cursor: pointer;
    background:transparent;
    color:#fff;
    font-weight:bold;
    font-size:18px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-color: #fff;
   
}
.lastRowe span{
    display: block;
    color:#bae3c1;
}
.lastRowe a ,.lastRowe a:hover{
    color:#bae3c1;
    font-weight:bold;
}
